$primary: #6200EE;
$primary-dark: #202040;
$secondary: #ffd868;

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: $primary;
}

.svg-icon circle {
  stroke: $primary;
  stroke-width: 1;
}

/* ---------- */

footer {
  .container {
    display: grid; 
    grid-gap: 2rem;
  }

  p, a {
    opacity: .6;
  }
}

.darth-vader {
  width: 7rem;
  height: auto;
  margin: 1.5rem auto;
}

input {
  padding: .5rem;
  width: 100%;
  border: none;
  font-size: 0.875rem;
}

.footer-links-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-links {
  display: flex;
  flex-direction: column;

  a {
    color: white; 
    padding: .25rem 0;
  }

  p { margin: 0; }
}

.social {
  margin: 2rem 0 0;
  text-align: center;

  svg {
    width: 2rem;
    height: auto;
  }
}

.jump-to-page {
  a {
    opacity: 1;
  }
}

@media (max-width: 699px) {
  .footer-top {
    text-align: center;
  }
}

@media (min-width: 700px) {
  footer {
    padding: 3rem;
  } 

  .footer-top {
    display: grid;
    grid-template-columns: 1fr 10rem;
    grid-template-areas: "text img";
    grid-gap: 2rem;

    .darth-vader {
      grid-area: img;
      width: 10rem; 
    }
  
    .description {
      grid-area: text;
    }
  }

  .footer-links-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  footer .container {
    grid-template-areas: 
      "top top"
      "links subscribe"
      "social social"
      "jump-to jump-to";
    
    .footer-top { grid-area: top; }
    .footer-subscribe { grid-area: subscribe; }
    .footer-links-wrapper { grid-area: links; }
    .social { grid-area: social; }
    .jump-to-page { grid-area: jump-to; }
  }
}