/* These styles don't matter */
$header: #6200EE;
// $primary-alt: #3700B3;
// $secondary: #03DAC6;
// $secondary-alt: #01B786;
// $text-primary: #fff;
// $text-secondary: #000;

$primary: #721b65;
$secondary: #b80d57;
$tertiary: #f8615a;
$quarternary: #ffd868;

* {
  font-family: monospace, sans-serif;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  font-weight: normal;
}

header, footer {
  padding: 1rem;
}

header {
  background: $header;
  color: white;
}

section {
  min-height: 50vh;

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      background-color: lighten($header, $i * 10%);
    }
  }
}

footer {
  background: $quarternary;
  min-height: 6rem;
}

/* Here's the styles that do matter for parallax */
main, .placeholder { 
  z-index: 10; 
  position: relative;
}

footer {
  position: fixed;
  bottom: 0;
}
